@model ecosmetics.Services.Categories.Models.EditCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-area="" asp-controller="Category" asp-action="EditAsync" asp-route-id="@Model.Id" method="post" class="" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger "></div>

    <label asp-for="Name" class=""></label>
    <input asp-for="Name" class="">
    <span asp-validation-for="Name" class="text-danger"></span>

    <div class="">
        <label asp-for="Description" class=""></label>
        <textarea asp-for="Description" class=""></textarea>
        <span asp-validation-for="Description" class=""></span>
    </div>

    <div class="form-group">
        <label asp-for="Picture" class="">Upload Picture </label>
        <input asp-for="Picture" hidden accept=".gif,.png,.jpg,.jpeg" />
        <span asp-validation-for="Picture" class=""></span>
    </div>

    <div class="form-group">
        <button class="btn btn-success">Edit Project</button>
    </div>

    <img src="@Model.Picture.Url" width="800" height="400" />

</form>