@model ecosmetics.Services.Articles.Models.EditArticleInputModel
@{
    ViewData["Title"] = "Edit Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="article-wrapper">

    <section class="article-container">

        <h2 class="article-title">Edit Article</h2>
        <form class="article-form" asp-area="" asp-controller="article" asp-action="EditAsync" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <label asp-for="Title" class="article-item"></label>
            <input asp-for="Title" class="article-item">
            <span asp-validation-for="Title" class="text-danger "></span>


            @*<label asp-for="Content" class="article-label"></label>*@
            @*<span asp-validation-for="Content" class=""></span>
                <textarea asp-for="Content" name="content" id="editor" class="article-item"></textarea>*@

            <span asp-validation-for="Content" class=""></span>
            <textarea asp-for="Content" name="content" id="editor" class="article-item"></textarea>


            <div class="form-group">
                <button class="btn btn-success">Save</button>
            </div>

            @*<img src="@Model.Picture.Url" width="800" height="400" />*@

        </form>

    </section>
    @*<textarea id="textArea">Test</textarea>*@
</section>