@model ecosmetics.Services.Articles.Models.EditArticleInputModel
@{
    ViewData["Title"] = "Edit Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="edit-article-wrapper">
    <section class="article-container">
        <h2>Edit Article</h2>

        <form class="article-form" asp-area="" asp-controller="article" asp-action="EditAsync" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Title" class="control-label font-weight-bold"></label>
                <input asp-for="Title" class="font-weight-bold form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="TitleEn" class="control-label font-weight-bold"></label>
                <input asp-for="TitleEn" class="font-weight-bold form-control">
                <span asp-validation-for="TitleEn" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Content" class="control-label font-weight-bold"></label>
                <textarea asp-for="Content" class="font-weight-bold form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger "></span>
            </div>

            <div class="">
                <label asp-for="ContentEn" class="control-label font-weight-bold"></label>
                <textarea asp-for="ContentEn" class="font-weight-bold form-control"></textarea>
                <span asp-validation-for="ContentEn" class="text-danger "></span>
            </div>


            <div class="button">
                <button class="white-button">Save</button>
            </div>
        </form>
    </section>
</section>

<script>
    CKEDITOR.replace('Content');
    CKEDITOR.replace('ContentEn');
</script>