@model ecosmetics.Services.Products.Models.EditProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="create-product-wrapper">
    <section class="product-container">
        <h2>Edit Product</h2>

        <form asp-area="" asp-controller="Product" asp-action="EditAsync" asp-route-id="@Model.Id" method="post" class="contact-form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Name" class="control-label font-weight-bold"></label>
                <input asp-for="Name" class="font-weight-bold form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Description" class="control-label font-weight-bold"></label>
                <textarea asp-for="Description" class="font-weight-bold form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger "></span>
            </div>


            <input class="form-control" type="file" name="Pictures" accept=".gif,.png,.jpg,.jpeg" accept="image/*" multiple />

            <div class="button">
                <button class="white-button">Save</button>
            </div>
        </form>
    </section>
</section>

<script>
    CKEDITOR.replace('Description');
</script>