/*GetAll-Article*/
.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 85%;
    justify-content: center;
    margin-top: 8em;
}



    .articles-container .article {
        flex: 0 0 44%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;
        margin: 2em 1em;
        background-color: rgb(25, 25, 25);
    }

.article-content {
    display: flex;
    flex: 0 0 85%;
    flex-wrap: wrap;
    padding: 2em;
}

.article-brand {
    flex: 0 0 100%;
    color: var(--color-main-white);
    font-family: var(--font-cormorant);
    letter-spacing: 5px;
    font-size: 0.8em;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0em;
}
/*.articles-container .article img {
    height: 300px;
    flex: 0 0 100%;
}*/
.articles-container .article .article-createdOn {
    color: rgb(163, 163, 163);
    font-family: var(--font-cormorant);
    font-size: 1.5em;
    margin: 0;
    transition: color 0.3s ease;
}

    .articles-container .article .article-createdOn:hover,
    .articles-container .article .article-creator:hover {
        color: var(--color-main-white);
        cursor: pointer;
    }

.articles-container .article .article-creator {
    color: rgb(163, 163, 163);
    margin: 0;
    transition: color 0.3s ease;
}

.pipe {
    margin: 0 1em;
    background-color: rgb(163, 163, 163);
}

.articles-container .article .article-info {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    color: rgb(92, 92, 92);
    font-family: var(--font-cormorant);
    font-size: 1em;
    transition: color 0.3s ease;
}


.articles-container .article .article-title {
    flex: 0 0 100%;
    font-size: 3em;
    font-family: var(--font-cormorant);
    font-weight: 900;
    color: var(--color-main-white);
    transition: color 0.3s ease;
    margin: 1em 0;
}

    .articles-container .article .article-title:hover {
        color: rgb(186, 186, 186);
        cursor: pointer;
    }

.article-buttons-box {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: 1.2em 0;
    justify-content: space-between;
}

    .article-buttons-box a {
        display: flex;
        font-family: var(--font-cormorant);
        color: var(--color-main-white);
        font-size: 1.2em;
        align-content: center;
        align-items: center;
        transition: color 0.3s ease;
    }

        .article-buttons-box a:hover {
            text-decoration: none;
            border-bottom-style: none;
            color: rgb(186, 186, 186);
        }



/*Create-article*/
.article-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
    justify-content: center;
    margin: 5em 0;
}

    .article-container h2 {
        flex: 0 0 100%;
        margin: 0.5em 0;
        text-align: center;
        font-family: var(--font-cormorant);
        font-size: 3em;
    }

    .article-container form {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

.article-item {
    flex: 0 0 70%;
    margin: 1em 0;
    text-align: center;
    font-family: var(--font-cormorant);
    font-size: 2em;
}

.btn {
    flex: 0 0 100%;
}


/*Details PAGE*/
.articles-details-wrapper {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.article-details-container {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

    .article-details-container img {
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
    }

.article-content {
    display: flex;
    justify-content: center;
    flex: 0 0 80%;
}

.article-img {
    flex: 0 0 100%;
    height: 43em;
    box-shadow: 0px 11px 14px 5px rgba(0,0,0,0.23);
}

.article-text-wrapper {
    margin-top: 4em;
    font-family: var(--font-cormorant);
    font-size: 2em;
}

.article-details-content i {
}
