.create-category-wrapper{
    display: flex;
    flex: 0 0 100%;
    flex-wrap:wrap;
    justify-content:center;
}

.category-container {
    display: flex;
    flex: 0 0 80%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-main-black);
    margin: 5em 0;
}

    .category-container h2 {
        flex: 0 0 100%;
        text-align: center;
        font-family: var(--font-cormorant);
        font-size: 3em;
        color: var(--color-main-white);
    }

    .category-container form {
        display: flex;
        flex: 0 0 60%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color-main-black);
    }

        .category-container form div {
            flex: 0 0 70%;
            margin: 1em 0;
        }

            .category-container form div input,
            category-container form div textarea {
                padding: 0.7em 3em;
            }