.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
}

    
/*Contacts-Main*/
.contacts-main {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 85%;
    margin-top: 5em;
    background-color: var(--color-main-black);
}

    .contacts-main .info {
        display: flex;
        justify-content: space-around;
        flex: 0 0 100%;
    }

        .contacts-main .info div {
            color: var(--color-main-white);
            font-family: var(--font-cormorant);
            display: flex;
        }

            .contacts-main .info div:nth-child(1) {
                flex: 0 0 85%;
            }

                .contacts-main .info div:nth-child(1) h2 {
                    padding: 1em 1em;
                    font-weight: 600;
                }

            .contacts-main .info div:nth-child(2) {
                flex: 0 0 15%;
            }

                .contacts-main .info div:nth-child(2) p {
                    font-size: 1.3em;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: var(--color-depper-gray);
                    padding-top: 6.5em;
                }

#contacts-info-p {
    font-size: 5em;
}


.contacts-down {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-bottom: 10em;
    justify-content: center;
}

    .contacts-down ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        /*padding: 0 0 0 5.5em;*/
        justify-content: center;
        flex: 0 0 100%;
    }

        .contacts-down ul li {
            flex: 0 0 100%;
            display: flex;
            font-family: var(--font-cormorant);
            font-size: 2.5em;
            padding: 0 38px 20px 0;
            color: var(--color-main-white);
            justify-content: center;
            flex-wrap: wrap;
        }

            .contacts-down ul li a {
                text-decoration: none;
                padding-left: 20px;
                color: var(--color-depper-gray);
            }
