/* Sticky footer styles
-------------------------------------------------- */

.footer{
    display:flex;
    flex: 0 0 100%;
    justify-content:center;
}

.site-footer {
    display: flex;
    flex: 0 0 85%;
    background-color: var(--color-main-gray);
    margin: 80px 0px;
}

    .site-footer ul {
        display:flex;
        flex: 0 0 100%;
        list-style-type: none;
        justify-content: center;
    }

        .site-footer ul li {
            display:flex;
            justify-content:center;
            align-items:center;
            background-color: var(--color-main-more-deeper-black);
            width: 48px;
            height: 48px;
            margin: 80px 10px;
            
        }

            .site-footer ul li a i {
                color: var(--color-main-white);
                font-size: 17px;
            }