.site-wrapper {
    display: flex;
    flex: 0 0 94%;
}

/*ASIDE*/
.aside {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-main-black);
    flex-direction: column;
    align-items: center;
    flex: 0 0 6%;
}

    .aside ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .aside ul li {
            position: absolute;
            transform: rotate(180deg);
        }

            .aside ul li p {
                font-family: 'Cormorant', serif;
                line-height: 25px;
                background: none;
                letter-spacing: 8.6px;
                font-size: 14px;
                text-transform: uppercase;
                transform: rotate(90deg);
                color: var(--color-main-gray);
                flex: 0 0 100%;
                display: flex;
                flex-wrap: wrap;
            }

                .aside ul li:nth-child(1) {
                    top: 15em;
                }

                .aside ul li:nth-child(2) {
                    top: 23em;
                }

                .aside ul li:nth-child(3) {
                    top: 31em;
                }

                .aside ul li:nth-child(4) {
                    top: 38em;
                }


/*SITE BANNER-CAROUSEL*/
.site-banner {
    overflow: hidden;
    height: 768px;
    display: flex;
    flex: 0 0 94%;
}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

  /*Elizabrth Cosmetics title styles*/
.elizabeth-cosmetics-title{
    text-transform:uppercase;
    letter-spacing: 5px;
}



/*Categories*/
.categories-wrapper {
    display: flex;
    justify-content:center;
    flex: 0 0 100%;
    flex-wrap:wrap;
    margin: 2em 0;
    background-color: var(--color-main-white);
}

.categories {
    display: flex;
    flex-wrap:wrap;
    flex: 0 0 85%;
    justify-content:center;
    background-color: var(--color-main-black);
}

.categories-title {
    display: flex;
    flex: 0 0 100%;
    color: var(--color-main-white);
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 30%;
}

.category-name {
    flex: 0 0 100%;
    text-align: center;
    color: var(--color-main-white);
}

.category-description {
    flex: 0 0 100%;
    text-align: center;
    color: var(--color-main-white);
}

.category a {
    flex: 0 0 50%;
    justify-content: space-around;
}