.site-wrapper {
    display: flex;
    flex: 0 0 88%;
    justify-content:space-between;
}


/*SOCIAL LINKS*/
.social-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex: 0 0 6%;
    background-color: var(--color-main-black);
}

    .social-links p {
        position: absolute;
        transform: rotate(270deg);
    }

        .social-links p a {
            color: var(--color-main-white);
            font-family: 'Cormorant', serif;
            background: none;
            letter-spacing: 5.6px;
            font-size: 14px;
            text-decoration: none;
        }

.link-fb {
    top: 15em;
}

.link-twitter {
    top: 25em;
}

.link-instagram {
    top: 35em;
}


/*ASIDE-RIGHT*/
.aside-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex: 0 0 6%;
}

    .aside-right p {
        position: absolute;
    }

        .aside-right p span {
            font-family: 'Cormorant', serif;
            background: none;
            letter-spacing: 5.6px;
            font-size: 14px;
            text-transform: uppercase;
            transform: rotate(90deg);
            color: var(--color-main-black);
            flex: 0 0 100%;
            display: flex;
            flex-wrap: wrap;
        }

.slogan-part-1 {
    top: 13em;
}

.slogan-part-2 {
    top: 18em;
}

.slogan-part-3 {
    top: 24em;
}

.slogan-part-4 {
    top: 31em;
}




.site-banner {
    overflow: hidden;
    height:800px;
    display:flex;
    flex: 0 0 88%;
}
