.site-wrapper {
    display: flex;
    flex: 0 0 94%;
}

/*ASIDE*/
.aside {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-main-black);
    flex-direction: column;
    align-items: center;
    flex: 0 0 6%;
}

    .aside ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .aside ul li {
            position: absolute;
            transform: rotate(180deg);
        }

            .aside ul li p {
                font-family: 'Cormorant', serif;
                line-height: 25px;
                background: none;
                letter-spacing: 8.6px;
                font-size: 14px;
                text-transform: uppercase;
                transform: rotate(90deg);
                color: var(--color-main-gray);
                flex: 0 0 100%;
                display: flex;
                flex-wrap: wrap;
            }

            .aside ul li:nth-child(1) {
                top: 15em;
            }

            .aside ul li:nth-child(2) {
                top: 23em;
            }

            .aside ul li:nth-child(3) {
                top: 31em;
            }

            .aside ul li:nth-child(4) {
                top: 38em;
            }


/*SITE BANNER-CAROUSEL*/
.site-banner {
    overflow: hidden;
    height: 768px;
    display: flex;
    flex: 0 0 94%;
}

.carousel-inner {
    position: absolute;
    left: 0px;
}

.carousel-control-next-icon,
 .carousel-control-prev-icon {
    margin-top: 45em;
}

.content-over-banner {
    font-size: 4em;
    display: block;
    font-weight: 700;
    position: absolute;
    top: 7em;
    left: 3em;
    transform: scale(1.2, 1.8);
    color: white;
    font-family: var(--font-cormorant);
    animation-iteration-count: 1;
    z-index: 101;
}

.content-over-banner2 {
    font-size: 4em;
    display: block;
    font-weight: 700;
    position: absolute;
    top: 9em;
    left: 3em;
    transform: scale(1.2, 1.8);
    color: white;
    font-family: var(--font-cormorant);
    animation-iteration-count: 1;
    z-index: 101;
}

#carouselExampleControls:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);

}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    z-index: 101;
}

#carouselExampleControls {
    flex: 0 0 100%;
}
/*Elizabrth Cosmetics title styles*/
.elizabeth-cosmetics-title {
    text-transform: uppercase;
    letter-spacing: 5px;
}


/*Sub-title*/
.sub-title {
    font-size: 1.3em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-depper-gray);
    font-family: var(--font-cormorant);
    margin: 0;
}

/*Categories*/
.categories-wrapper {
    display: flex;
    flex: 0 0 100%;
    margin: 6em 0;
    justify-content: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 89%;
    padding-bottom: 4em;
    justify-content: center;
}

/*Black box with picture/s*/
.black-box-title {
    display: flex;
    padding: 4.5em 0;
    align-items: center;
    flex: 0 0 100%;
    background-color: var( --color-main-black);
    box-shadow: 0px 20px 25px -1px rgba(0,0,0,0.75);
    z-index: 900;
}

    .black-box-title h2 {
        flex: 0 0 85%;
        font-family: var(--font-cormorant);
        color: var(--color-main-white);
        font-size: 5em;
        letter-spacing: 5px;
        margin: 0;
        padding-left: 1em;
        font-family: var(--font-cormorant);
    }

    .black-box-title p {
        flex: 0 0 15%;
    }

#black-box-title-index{
    /*font-size: 5em;*/
}

.black-box-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 85%;
}

/*One category styles*/
.category {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-bottom: 2em;
}

.image-wrapper {
    display: flex;
    flex: 0 0 100%;
}

    .image-wrapper span {
        display: flex;
        flex: 0 0 100%;
        position: relative;
        justify-content:center;
    }

        .image-wrapper span:before {
            display: flex;
            flex: 0 0 100%;
            text-align: center;
            flex-wrap: wrap;
            position: relative;
            content: '';
            font-size: 4em;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*background: rgba(0,0,0, 0.5);*/
            transition: opacity 0.3s ease-in;
        }

    .image-wrapper:hover span:before {
        opacity: 0;
    }

    .image-wrapper img {
        /*flex: 0 0 100%;*/
        width: 1400px;
        max-width: 1200px;
        height: 45em;
        filter: gray;
        -webkit-filter: grayscale(0);
        -webkit-transition: all .5s ease-in-out;
    }

        .image-wrapper img:hover {
            filter: none;
            -webkit-filter: grayscale(0);
            -webkit-transform: scale(1.05);
        }
