@media (max-width: 1350px) {
    .icon {
        right: -10px;
    }

        .icon:before {
            right: 80px;
        }

    .site-banner {
        height: initial;
    }

    /*About Page*/
    .about-content {
        justify-content: center;
        flex: 0 0 100%;
    }

    .about-img-box {
        flex: 0 0 90%;
        background-position: 18% 0%;
        height: 747px;
    }

    .about-text {
        flex: 0 0 90%;
        line-height: 1.9em;
    }
}

@media (max-width: 1250px) {
    
    /*About Page*/
    .about-img-box {
        flex: 0 0 100%;
        background-position: 5% 0%;
        height: 747px;
    }
}

@media (max-width: 950px) {
    .icon {
        right: 0px;
    }

        .icon:before {
            content: none;
        }

    .aside ul li:nth-child(1) {
        top: 10em;
    }

    .aside ul li:nth-child(2) {
        top: 19em;
    }

    .aside ul li:nth-child(3) {
        top: 27em;
    }

    .aside ul li:nth-child(4) {
        top: 34em;
    }

    .about-content {
        flex: 0 0 100%;
    }
}

@media (max-width: 850px) {
    #close-btn:before, #close-btn:after {
        right: 80px;
    }

    #close-btn-before {
        right: 130px;
    }

    .aside ul li:nth-child(1) {
        top: 8em;
    }

    .aside ul li:nth-child(2) {
        top: 16em;
    }

    .aside ul li:nth-child(3) {
        top: 23em;
    }

    .aside ul li:nth-child(4) {
        top: 30em;
    }
}
