@media (max-width: 1350px) {
    .icon {
        right: -10px;
    }

        .icon:before {
            right: 80px;
        }

    .site-banner {
        height: initial;
    }
}

@media (max-width: 950px) {
    .icon {
        right: 0px;
    }
    
    .icon:before {
       content:none;
    }

    .aside ul li:nth-child(1) {
        top: 10em;
    }

    .aside ul li:nth-child(2) {
        top: 19em;
    }

    .aside ul li:nth-child(3) {
        top: 27em;
    }

    .aside ul li:nth-child(4) {
        top: 34em;
    }

}

@media (max-width: 850px) {
    #close-btn:before, #close-btn:after {
        right: 80px;
    }

    #close-btn-before {
        right: 130px;
    }
    
    .aside ul li:nth-child(1) {
        top: 8em;
    }

    .aside ul li:nth-child(2) {
        top: 16em;
    }

    .aside ul li:nth-child(3) {
        top: 23em;
    }

    .aside ul li:nth-child(4) {
        top: 30em;
    }
}
