.product-decsription-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex: 0 0 100%;
}

    .product-decsription-wrapper p {
        flex: 0 0 75%;
        font-family: var(--font-cormorant);
        font-size: 2em;
    }

#product-image {
    height: 54em;
}

#black-box-product-title{
    font-size: 3em;
}