.product-decsription-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
}

    .product-decsription-wrapper p {
        flex: 0 0 75%;
        font-family: var(--font-cormorant);
        font-size: 2em;
    }

.product-details-container{
    display:flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin: 10em 0;
    justify-content:center;
}

.product-details-title-box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 90%;
    background-color: var(--color-main-black);
    padding: 9em 13em;
    justify-content: space-between;
}

    .product-details-title-box h2 {
        color: rgb(255, 255, 255);
        font-size: 3em;
    }

.product-details-content {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 90%;
    justify-content: start;
    overflow: hidden;

}

    .product-details-content:before {
        content: '';
        position: relative;
        left: 0;
        top: 0;
        height: 39.5rem;
        width: 20em;
        background-color: var(--color-main-black);
    }


.details-content-box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 76%;
    overflow: hidden;
}

.product-image-box {
    overflow: hidden;
    height: 57em;
    flex: 0 0 60%;
}

.product-promo-text{
    flex: 0 0 40%;
    padding: 4em;

}

    .product-promo-text ul li {
        margin: 1em 0;
        font-size: 2em;
        font-family: var(--font-cormorant);
        font-weight: 900;
    }


/*#product-image {
    height: 54em;
}

#black-box-product-title {
    font-size: 3em;
}

#main-nav-product-details {
    padding: 7em 1em;
}

#main-nav-product-details-ul {
    align-items: center;
    list-style-type: none;
}

#main-nav-product-name{
    margin: 0;
}


#black-box-content-product-details{
    flex: 0 0 100%;
}*/