@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Политика за бисквитките"];
}

<div class="privacy-wrapper">

    <section class="privacy-cookie-conten">

        <h1>ПОЛИТИКА ЗА БИСКВИТКИТЕ</h1>
        <p>Ние използваме бисквитки или подобни инструменти на нашите сайтове, за да подобрим тяхното представяне по време на използването им от Вас. Тази политика обяснява как правим това.</p>


        <h3>Какво са бисквитки?</h3>
        <p>
            HTTP-бисквитка (HTTP cookie), обикновено наричана просто „бисквитка” е пакет информация, изпратен от уеб сървър към Интернет браузър, например Internet Explorer, Microsoft Edge, Safari, Opera, Mozilla Firefox, Chrome и т.н., а след това връщан от браузъра всеки път, когато той получи достъп до този сървър. Дадена бисквитка остава във Вашето устройство за използване при следваща сесия, като тя може да бъде междувременно изтрита. В случай че ползвате повече от един браузър, всеки от тях има отделно пространство за съхранение на бисквитки. Бисквитките не се отнасят до дадено лице, а до комбинация устройство и интернет браузър. Следователно, едно лице, което използва няколко браузъра и/или устройства има отделен набор от бисквитки за всяка комбинация устройство и браузър. От друга страна бисквитките не правят разлика между множество потребители, споделящи едно и също устройство и браузър, освен ако те нямат различни потребителски профили.

            Бисквитките изпълняват множество различни функции. Например, те ни помагат да запомним вашето потребителско име или предпочитания и да анализираме колко добре се представят нашите сайтове
        </p>

        <h3>Какви данни събираме?</h3>

        <p>Ние събираме информация за следните цели: отстраняване на проблеми, администриране на Уеб страниците, анализиране на тенденциите, събиране на демографска информация, спазване на приложимото право и осъществяване на сътрудничество в дейността на правоохранителните органи.</p>
    </section>
</div>
