
@{
    ViewData["Title"] = "Create Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="template-wrapper">

    <section class="template-container">

        <h2>Create Category</h2>
        <form asp-area="" asp-controller="Category" asp-action="Create" class="" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            
        </form>
    </section>
</section>