@model e_cosmetics.Services.Articles.Models.ArticleInputModel
@{
    ViewData["Title"] = "Create Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="create-article-wrapper">

    <section class="create-article-container">

        <h2 class="article-title">Create Article</h2>
        <form class="article-form" asp-area="" asp-controller="article" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Title" class="article-item"></label>
                <input asp-for="Title" class="article-item">
                <span asp-validation-for="Title" class="text-danger "></span>
            </div>

            <div>
                <label asp-for="Creator" class="article-item"></label>
                <input asp-for="Creator" class="article-item">
                <span asp-validation-for="Creator" class="text-danger "></span>
            </div>

            <div>
                <label asp-for="Content" class="article-label"></label>
                <textarea asp-for="Content" name="content" id="editor" class="article-item "></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div>

                <label asp-for="Picture" class="article-item">Upload Picture </label>
                <input asp-for="Picture" class="article-item" hidden accept=".gif,.png,.jpg,.jpeg" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

            <button class="white-button">Create</button>

        </form>

    </section>

</section>