@model e_cosmetics.Services.Articles.Models.ArticleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="articles-details-wrapper">
    <div class="main-nav">
        <h1>Articles: @Model.Title</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><a asp-controller="Article" asp-action="GetAll">Articles</a></li>
        </ul>
    </div>

    <section class="article-details-container">
        <div class="article-content">

            <img class="article-img" src="@Model.Picture.Url" />

            <div class="article-text-wrapper">
                <p class="article-details-text">@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </section>

</section>

