.form-template-wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url(../img/businesscards2.jpg) top/cover no-repeat;


    .form-template-container-wrapper {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px 55px;
        background: rgb(117,121,255);
        background: -moz-linear-gradient(0deg, rgba(117,121,255,1) 0%, rgba(171,4,242,0.36318277310924374) 100%);
        background: -webkit-linear-gradient(0deg, rgba(117,121,255,1) 0%, rgba(171,4,242,0.36318277310924374) 100%);
        background: linear-gradient(0deg, rgba(117,121,255,1) 0%, rgba(171,4,242,0.36318277310924374) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7579ff",endColorstr="#ab04f2",GradientType=1);
        -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);

        .form-template {
            width: 100%;

            form {
                background-color: inherit;

                .form-logo {
                    font-size: 60px;
                    color: #333333;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: #fff;
                    margin: 0 auto;

                    .zmdi {
                        display: inline-block;
                        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }

                .form-title {
                    font-family: Poppins-Medium;
                    font-size: 30px;
                    color: #fff;
                    line-height: 1.2;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                }

                .wrap-input {
                    width: 100%;
                    position: relative;
                    border-bottom: 2px solid rgba(255,255,255,0.24);
                    margin-bottom: 30px;

                    .input100 {
                        font-family: Poppins-Regular;
                        font-size: 16px;
                        color: #fff;
                        line-height: 1.2;
                        display: block;
                        width: 100%;
                        height: 45px;
                        background: transparent;
                        padding: 0 5px 0 38px;
                        border: none;

                        &::-webkit-input-placeholder {
                            color: #fff;
                        }

                        &:focus {
                            border-color: none;
                            outline: none;
                        }
                    }

                    .focus-input100 {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        pointer-events: none;

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            -webkit-transition: all 0.4s;
                            -o-transition: all 0.4s;
                            -moz-transition: all 0.4s;
                            transition: all 0.4s;
                            background: #fff;
                        }

                        &:after {
                            font-family: Material-Design-Iconic-Font;
                            font-size: 22px;
                            color: #fff;
                            content: attr(data-placeholder);
                            display: block;
                            width: 100%;
                            position: absolute;
                            top: 6px;
                            left: 0px;
                            padding-left: 5px;
                            -webkit-transition: all 0.4s;
                            -o-transition: all 0.4s;
                            -moz-transition: all 0.4s;
                            transition: all 0.4s;
                        }
                    }
                }

                .container-login100-form-btn {
                    width: 100%;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .login100-form-btn {
                        font-family: Poppins-Medium;
                        font-size: 16px;
                        color: #555555;
                        line-height: 1.2;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 20px;
                        min-width: 120px;
                        height: 50px;
                        border-radius: 25px;
                        background: #9152f8;
                        background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
                        background: -o-linear-gradient(bottom, #7579ff, #b224ef);
                        background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
                        background: linear-gradient(bottom, #7579ff, #b224ef);
                        position: relative;
                        z-index: 1;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;
                        border: none;

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            border-radius: 25px;
                            background-color: #fff;
                            top: 0;
                            left: 0;
                            opacity: 1;
                            -webkit-transition: all 0.4s;
                            -o-transition: all 0.4s;
                            -moz-transition: all 0.4s;
                            transition: all 0.4s;
                        }

                        &:hover {
                            color: #fff;

                            &:before {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.9);
    }
}
