@model e_cosmetics.Services.Categories.Models.CreateCategoryInputModel

@{
    ViewData["Title"] = "Create";
}


<section class="create-category-wrapper">

    <section class="category-container">

        <h2>Create Category</h2>
        <form asp-area="" asp-controller="Category" asp-action="Create" class="" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Name" class=""></label>
                <input asp-for="Name" class="">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Description" class=""></label>
                <textarea asp-for="Description" class=""></textarea>
                <span asp-validation-for="Description" class=""></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture" class="">Upload Picture </label>
                <input asp-for="Picture" hidden accept=".gif,.png,.jpg,.jpeg" />
                <span asp-validation-for="Picture" class=""></span>
            </div>

            <div class="button">
                <button class="btn">Create Project</button>
            </div>
        </form>
    </section>
</section>