@model IEnumerable<e_cosmetics.Services.Categories.Models.CategoryViewModel>

@{
    ViewData["Title"] = "All";
}

    <div>

        @foreach (var category in Model)
        {
            <p>@category.Name</p>
            <p>@category.Description</p>
            
            <img src="@category.PictureName" width="800" height="400" /> }
    </div>
