@model e_cosmetics.Services.Products.Models.ProductCollectionViewModel

@{

    ViewData["Title"] = "Products";
}

<section class="products-wrapper">
    <div class="main-nav">
        <h1>Products</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>Products</p></li>
        </ul>
    </div>

    <section class="products-content-wrapper">

        <div>
            @foreach (var product in @Model.Products)
            {
            <div>@product.Name</div>
            <div>@product.Description</div>

            @foreach (var picture in product.Pictures)
             {
            <img src="@picture.Url" alt="Alternate Text" height="300" width=" 300" />
             }
            }
        </div>
    </section>
</section>
