@model e_cosmetics.Services.Products.Models.ProductCollectionViewModel

@{

    ViewData["Title"] = "Products";
}

<section class="products-wrapper">
    <div class="main-nav">
        <h1>Products</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>Products</p></li>
        </ul>
    </div>

    <section class="products-section-wrapper">

        <section class="products-section">
            @foreach (var product in @Model.Products)
            {
                <section class="product">

                    @foreach (var picture in product.Pictures.Take(1))
                    {

                        <img class="product-picture" src="@picture.Url" alt="Product Picture"  />
                    }
                    <p class="product-name">@product.Name</p>
                    @*<div>@product.Description</div>*@

                </section>
            }
        </section>
    </section>
</section>
