
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img//FavIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/FavIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img//FavIcons//favicon-16x16.png">
    @*<link rel="manifest" href="~/img/FavIcons/site.webmanifest" mimeType="application/manifest+json">*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />


</head>
<body>

    <header class="site-header">
        <section class="site-header-nav">
            <section class="nav-left-part">

                <a asp-controller="Home" asp-action="index"><img src="~/img/Brand-Pictures/brand-pic-white.png" class="brand-nav" alt="e-cosmetics brand" /></a>
                <p class="brand-p">ELIZABETH COSMETICS</p>
            </section>
            <section class="nav-right-part">
                <div class="icon">
                    <div class="hamburger" onclick="show()">

                    </div>
                </div>
            </section>
        </section>
        <section id="nav-toggle">

            <section class="toggle-top-menu">
                <img src="~/img/Brand-Pictures/logo_elizabeth_logotype-01.png" class="brand-nav-toggle-menu" alt="e-cosmetics brand" />
                <span class="elizabeth-cosmetics-title">Elizabeth Cosmetics</span>
                <P id="close-btn-before">Close</P>
                <p id="close-btn" onclick="closeToggle()"></p>

            </section>

            <section class="nav-links">
                <ul>
                    <li><a asp-controller="Home" asp-action="index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="index" id="series">Series</a></li>
                    <li><a asp-controller="Home" asp-action="contacts">Contacts</a></li>
                    <li><a asp-controller="Article" asp-action="GetAll">Blog</a></li>


                </ul>

            </section>
        </section>
    </header>



    <main role="main">
    <partial name="_CookieConsentPartial" />
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="site-footer">
            <div class="brand-footer">
                <img src="~/img//Brand-Pictures/logo_elizabeth-01.png" alt="brand-logo" />

            </div>
            <ul>
                <li><a href="https://www.facebook.com/ElizabethCosmeticsBulgaria/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/elizabethcosmeticsbulgaria/?igshid=wibzh2v1enxz"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <div class="copyrights">
                <p>Copyright &#9400;2019 elizabeth-cosmetics, Всички права запазени.</p>
            </div>
            @*<div class="col-sm-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>*@
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>*@
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script src="https://kit.fontawesome.com/23be4a20c7.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)

    @*<script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>*@
</body>
</html>
