
@{
    ViewData["Title"] = "About";
}

<section class="about-wrapper">
    <div class="main-nav">
        <h1>About</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>About</p></li>
        </ul>
    </div>

    <section class="about">

        <section class="about-title">
            <p>Welcome to Elizabeth Cosmetics</p>
            <p>Welcome</p>
        </section>

        <section class="about-main">
            <div class="about-content-wrapper">

                <div class="about-content">
                    <div class="about-img-box">
                    </div>
                    <p class="about-text">
                        ELIZABETH cosmetics иска да Ви предостави, неповторимото усещане за лукс и  мекота на кожата. Основната цел на ELIZABETH cosmetics е да ви покаже: „Истината за красотата!“.
                        Луксозните продукти на марката, предлагат професионална грижа за вашата кожата. Създадени от висококачесвени съставки и иновативни формули, те Ви осигуряват чувството на комфорт и свежест. Продуктовата гама на  ELIZABETH cosmetics гарантира за по-здрава, по-нежна и по-красива кожа. С любов и внимание към детайла, нашите специалисти създават продукти, отговарящи на високите изисквания на нашите клиенти. ELIZABETH cosmetics изпозлва внимателно подбрани активни комплекси, които помагат и на най-капризната кожа да си възвърне естествената красота.
                        Основната мисия на марката е да създава високачествена козметика, която да поглези  сетивата  на нашите клиенти. Продуктите на ELIZABETH cosmetics ще ви осигурят кожата, за която всеки мечтае.
                    </p>
                </div>
            </div>
        </section>

    </section>
</section>

