
@{
    ViewData["Title"] = "Contacts";
}

<section class="contacts-wrapper">
    <div class="contacts-head">
        <h1>Contacts</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>Contacts</p></li>
        </ul>
    </div>

    <section class="contacts-main">
        <div class="info">
            <div>
                <h2 id="contacts-info-p">Contact info</h2>
            </div>
            <div>
                <p id="contacts-p">contacts</p>
            </div>
        </div>

        <div class="contacts-down">
            <ul>
                <li>Phone<a href="tel:+359888888653">+359888888653</a></li>
                <li>Email<a href="mailto:office@elizabeth-cosmetics.com">office@elizabeth-cosmetics.com</a></li>
            </ul>
        </div>
    </section>
</section>

