@{
    ViewData["Title"] = "Contacts";
}

<section class="contacts-wrapper">
    <div class="main-nav">
        <h1>Контакти</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Начало</a></li>
            <li><p>Контакти</p></li>
        </ul>
    </div>

    <section class="contacts-main">
        <div class="info">
            <div>
                <h2 id="contacts-info-p">Контакти</h2>
            </div>
            <div>
                @*<p id="contacts-p">Контакти</p>*@
            </div>
        </div>

        <div class="contacts-down">
            <ul>
                <li>Телефон<a href="tel:+359888888653">+359888888653</a></li>
                <li>Имейл<a href="mailto:office@elizabeth-cosmetics.com">office@elizabeth-cosmetics.com</a></li>
            </ul>
        </div>
    </section>
</section>

