@{
    ViewData["Title"] = "Home Page";
}

<section class="site-wrapper">
    <section class="social-links">
        <p class="link-fb"><a href="www.facebook">FACEBOOK</a></p>
        <p class="link-twitter"><a href="www.twitter">TWITTER</a></p>
        <p class="link-instagram"><a href="www.instagram">INSTAGRAM</a></p>

    </section>

    <section class="site-banner">
        <img src="~/img//banner.jpg" alt="Alternate Text" />
    </section>

    <section class="site-links-right-part">
        <ul>
            <li><a href="#">Send Messeage</a></li>
        </ul>
    </section>
</section>