@{
    ViewData["Title"] = "Home Page";
}

<section class="site-wrapper">
    <section class="social-links">
        <p class="link-fb"><a href="https://www.facebook.com">FACEBOOK</a></p>
        <p class="link-twitter"><a href="https://www.facebook.com">TWITTER</a></p>
        <p class="link-instagram"><a href="https://www.facebook.com">INSTAGRAM</a></p>

    </section>

    <section class="site-banner">
        <img src="~/img//banner.jpg" alt="Alternate Text" />
    </section>

    <section class="aside-right">
        <p class="slogan-part-1"><span>The</span></p>
        <p class="slogan-part-2"><span>truth</span></p>
        <p class="slogan-part-3"><span>about</span></p>
        <p class="slogan-part-4"><span>beauty</span></p>
    </section>
</section>